<div class="container mt-4">
  <h2>Mes demandes de réservations:</h2>
  <div class="row justify-content-center">
      <h3 class="text-center my-3"><%= @myflat.title %></h3>
      <p class="text-center mb-3"><%= @myflat.address %></p>
      <% @bookings.each do |booking| %>
        <div class="col-8">
          <div class="card-product-mybook my-2">
            <%= cl_image_tag booking.flat.photos.first.key, height: 200, width: 250, crop: :mfit %>
            <div class="d-flex justify-content-between">
              <div class="col-6 me-3 px-4 py-3">
                <p>Arrivée: <%= booking.date_arrival %></p>
                <p>Nb d'invités: <%= booking.traveler_nb %></p>
              </div>
              <div class="col-6 px-4 py-3">
                <p>Départ: <%= booking.date_departure %></p>
                <p>
                <% if booking.status == "Pending"%>
                  <span id="pending">En attente <i class="fa-regular fa-circle-question"></i></span></p>
                  <%= link_to "Accepter", approved_booking_path(booking), data: {turbo_method: :patch}, class: "btn btn-red mt-3" %>
                <% else booking.status =="Approved" %>
                  <p><span id="accepted">Acceptée <i class="fa-solid fa-check"></i></p></span>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
