            <div data-controller="date-saver">
            <%= simple_form_for [@flat, @booking], data: { controller: 'flatpickr' } do |f| %>
              <%= f.input :date_arrival, label: "Date d'arrivée:", as: :string, input_html: { data: { action: "click->date_saver#captureArrival"} }, input_html: { data: { flatpickr_target: "dateArrival" } } %>
              <%= f.input :date_departure,label: "Date de départ:", as: :string, input_html: { data: { action: "click->date_saver#captureArrival"} }, input_html: { data: { flatpickr_target: "dateDeparture" } } %>
              <%= f.input :traveler_nb, label: "Nombre d'invité(s):", collection: 1.."#{@flat.guest_nb}".to_i %>
              <p>Total: <%= "#{@flat.price}" %> Є x XXXX nuits = </p>
              <%= f.submit "Réserver", class: "btn btn-red" %>
            <% end %>
