<ul class="nav justify-content-center">
  <% @categories.each do |category| %>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><%= category.name %></a>
    </li>
  <% end %>
</ul>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="flat-cards">
        <% @flats.each do |flat| %>
          <%= link_to flat_path(flat), class: 'flat-card' do %>
            <div class="flat-image" style="background-image: url('<%= cl_image_path flat.photos.first.key %>');">
              <i class="fa-solid fa-heart"></i>
            </div>
            <div class="flat-description mt-2">
              <div class="flat-info">
                <h6><%= flat.address.truncate(35) %></h6>
                <p class="content" title="<%= flat.title %>"><%= flat.title.capitalize.truncate(35) %></p>
                <div class="row justify-content-between">
                  <div class="col-4">
                    <p> <i class="fa-solid fa-bed"></i> <%= flat.guest_nb %> </p>
                  </div>
                  <div class="col-8">
                    <p id="black-color"> <i class="fa-solid fa-hand-holding-dollar"></i> <%= flat.price %> / nuit </p>
                  </div>
                </div>
              </div>
              <div class="flat-rating">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
