<h1>Flats#index</h1>
<i class="fa-solid fa-square-dollar"></i>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="flat-cards">
        <% @flats.each do |flat| %>
          <%= link_to flat_path(flat), class: 'flat-card' do %>
            <div class="flat-image">

              <i class="fa-solid fa-heart"></i>
            </div>
            <div class="flat-description mt-2">
              <div class="flat-info">
                <h6><%= flat.address.truncate(35) %></h6>
                <p class="content" title="<%= flat.title %>"><%= flat.title.capitalize.truncate(35) %></p>
                <p> <i class="fa-solid fa-bed"></i> <%= flat.guest_nb %> </p>
                <p id="black-color"> <i class="fa-regular fa-circle-dollar"></i><%= flat.price %> € la nuit </p>
              </div>
              <div class="flat-rating">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
