<ul class="nav justify-content-center">
  <% @categories.each do |category| %>
    <li class="nav-item">
      <%= link_to category.name, flats_path(category_query: category.name), class: "nav-link active" %>
    </li>
  <% end %>
</ul>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="flat-cards">
        <% @flats.each do |flat| %>
          <%= link_to flat_path(flat), class: 'flat-card' do %>
            <div class="flat-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path flat.photos.first.key %>')">
              <i class="fa-solid fa-heart"></i>
            </div>
            <div class="flat-description mt-2">
              <div class="flat-info">
                <h6><%= flat.address.truncate(35) %></h6>
                <p class="content" title="<%= flat.title %>"><%= flat.title.capitalize.truncate(35) %></p>
                <div class="row justify-content-between">
                  <div class="col-4">
                    <p> <i class="fa-solid fa-bed"></i> <%= flat.guest_nb %> </p>
                  </div>
                <div class="row justify-content-between">
                  <div class="col-8">
                    <p id="black-color"><%= flat.price %> / nuit </p>
                  </div>
                </div>
                </div>
              </div>
              <div class="flat-rating">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to "Write a story", "#", class: "btn btn-black" %>
