<div class="container">
  <div class="row mt-4">
    <h2>Mettre mon logement en location</h2>
    <%= simple_form_for(@flat) do |f| %>
    <div class="form-inputs">
      <%= f.input :title, :label => "Titre",
                  required: true,
                  autofocus: true
                  %>
      <%= f.input :description,
                  required: true
                  %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :guest_nb, :label => "Nb invités",
                  required: true
                  %>
      <%= f.input :price, :label => "Prix",
                  required: true
                  %>
      <%= f.input :category_ids, :label => "Catégorie", collection: Category.all %>
      <%= f.input :equipment_ids, :label => "Equipement", collection: Equipment.all %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Soumettre", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
