<div class="container mt-4">
   <div class="row">
    <div class="col">
      <h3><%= @flat.title.capitalize %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <p><i class="fa-sharp fa-solid fa-house"></i> <%= @flat.description %></p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-bed"></i> <%= @flat.guest_nb %> </p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-hand-holding-dollar"></i> <%= @flat.price %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @flat.photos.first.key, class: "d-block w-100", height: 450, crop: :mfit%>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.second.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.third.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.fourth.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.fifth.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="px-5">
        <% @flat.photos.first(6).each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="d-flex justify-content-center mt-5 me-4">
          <button class="btn btn-grey" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
            Regarder toutes les photos
          </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-7">
        <h4 class="text-center">Plus d'information</h4>
        <div>
          <p>Categories: <% @flat.categories.each do |category| %>
            <ul><li><%= category.name %></li></ul>
            <% end %>
          </p>
        </div>
        <div>
          <p>Equipements: <% @flat.equipments.each do |equipment| %>
            <ul><li><%= equipment.name %></li></ul>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-5">
        <div class="card-booking">
          <h4 class="text-center">Réservez maintenant:</h4>
            <form action="">
          <div class="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="end-date" aria-describedby="start-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "modal", flat: @flat %>
