<div class="container mt-4">
   <div class="row">
    <div class="col">
      <h3><%= @flat.title.capitalize %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <p><i class="fa-sharp fa-solid fa-house"></i> <%= @flat.description %></p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-bed"></i> <%= @flat.guest_nb %> </p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-hand-holding-dollar"></i> <%= @flat.price %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @flat.photos.first.key, class: "d-block w-100", height: 450, crop: :mfit%>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.second.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.third.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.fourth.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <div class="carousel-item">
            <%= cl_image_tag @flat.photos.fifth.key, class: "d-block w-100", height: 450, crop: :mfit %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="px-5">
        <% @flat.photos.first(6).each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="d-flex justify-content-center mt-5 me-4">
          <button class="btn btn-grey" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
            Regarder toutes les photos
          </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-7">
        <h4 class="text-center">Plus d'information</h4>
        <div>
          <p>Categories: <% @flat.categories.each do |category| %>
            <ul><li><%= category.name %></li></ul>
            <% end %>
          </p>
        </div>
        <div>
          <p>Equipements: <% @flat.equipments.each do |equipment| %>
            <ul><li><%= equipment.name %></li></ul>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-5">
        <div class="card-booking">
          <h4 class="text-center">Réservez maintenant:</h4>
          <div>
            <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
              <%= f.input :date_arrival, as: :string, input_html: { data: { flatpickr_target: "dateArrival" } }   %>
              <%= f.input :date_departure, as: :string, input_html: { data: { flatpickr_target: "dateDeparture" } } %>
              <%= f.input :traveler_nb, label: "Nombre d'invité(s)", collection: 1.."#{@flat.guest_nb}".to_i %>
              <p>Total: <%= "#{@booking.date_arrival}" %></p>
              <%= f.submit "Réserver", class: "btn btn-red" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "modal", flat: @flat %>
