<div class="container mt-4">
   <div class="row">
    <div class="col">
      <h3><%= @flat.title.capitalize %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <p><i class="fa-sharp fa-solid fa-house"></i> <%= @flat.description %></p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-bed"></i> <%= @flat.guest_nb %> </p>
          </div>
          <div class="col-4">
            <p id="price"><i class="fa-solid fa-hand-holding-dollar"></i> <%= @flat.price %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @first_flat_photo, class: "d-block w-100", height: 450, crop: :mfit%>
          </div>
          <% @other_flats_photos.each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, class: "d-block w-100", height: 450, crop: :mfit %>
            </div>
          <% end %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="px-5">
        <% @flat.photos.first(6).each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="d-flex justify-content-center mt-5 me-4">
          <button class="btn btn-grey" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
            Regarder toutes les photos
          </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-7">
        <h4 class="text-center mt-3"><%= @flat.description %></h4>
        <p class="py-1"><%= @flat.guest_nb %> Voyageurs</p>
        <p class="py-1"><%= @flat.address %></p>
        <h4 class="text-center mt-3">Plus d'information</h4>
        <div>
          <p class="py-1">Categories: </p>
          <ul class="list-group">
            <% @flat.categories.each do |category| %>
            <li class="list-group-item">
              <%= category.name %>
            </li></ul>
            <% end %>
          </p>
          <p class="py-1">Equipements: </p>
          <ul class="list-group">
            <% @equipments.each do |equipment| %>
            <li class="list-group-item">
              <%= equipment.name %>
            </li></ul>
            <% end %>
        </div>
        <div>
        </div>
      </div>
      <div class="col-5">
        <div class="card-booking">
          <h4 class="text-center">Réservez maintenant:</h4>
            <div>
            <%= simple_form_for [@flat, @booking], data: { controller: 'flatpickr date-saver' } do |f| %>
              <%= f.input :date_arrival, label: "Date d'arrivée:", as: :string, input_html: { data: { flatpickr_target: "dateArrival", action: "input->date-saver#captureArrival" } }%>
              <%= f.input :date_departure,label: "Date de départ:", as: :string, input_html: { data: { flatpickr_target: "dateDeparture", action: "input->date-saver#captureDeparture" } } %>
              <%= f.input :traveler_nb, label: "Nombre d'invité(s):", collection: 1.."#{@flat.guest_nb}".to_i %>
              <p id="total" style="display: none";>Total: <%= "#{@flat.price}" %> Є x XXXX nuits = </p>
              <%= f.submit "Réserver", class: "btn btn-red" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<%= render "modal", flat: @flat %>
