<div class="container">
  <div class="row justify-content-center">
    <h2 class="mt-4">Mes réservations: </h2>
    <div class="col-8 my-2">
      <% @bookings.each do |booking| %>
        <div class="my-1">
          <% if booking.status == "Approved" %>
            <div class="card-product">
              <%= cl_image_tag booking.flat.photos.first.key, height: 200, width: 250, crop: :mfit %>
              <div class="card-product-infos">
                <span class="card-status"><i class="fa-solid fa-check"></i> Acceptée</span>
                <h3 class="text-center"><%= booking.flat.title.capitalize %></h3>
                <p class ="text-center">Du: <%= booking.date_arrival %> au <%= booking.date_departure %></p>
                <p><%= booking.flat.address %></p>
                <p><%= booking.flat.description %></p>
              </div>
            </div>
        </div>
        <div class="my-1">
          <% else booking.status == "Pending" %>
            <div class="card-product">
              <%= cl_image_tag booking.flat.photos.first.key, height: 200, width: 250, crop: :mfit %>
              <div class="card-product-infos">
                <span class="card-pending"><i class="fa-regular fa-circle-question"></i> En attente</span>
                <h3 class="text-center"><%= booking.flat.title.capitalize.truncate(40) %></h3>
                <p class ="text-center">Du: <%= booking.date_arrival %> au <%= booking.date_departure %></p>
                <p><%= booking.flat.address %></p>
                <p><%= booking.flat.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
        </div>
    </div>
  </div>
</div>
